* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(
    to top left,
    rgb(5, 54, 2),
    rgba(172, 252, 166, 0.233)
    ); */
  background-image: url("../img/background4.jpg");
  background-size: cover;
  align-items: center;
  text-align: center;
  position: absolute;
  font-family: "Aclonica", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  border: 7px ridge rgb(102, 25, 25);
}

.title {
  align-items: center;
  height: 70px;
}

h1 {
  display: inline-block;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 18px;
  text-shadow: 1px 1px #d5ebd4;
}

h1,
h3,
.best {
  color: rgb(102, 25, 25);
}

.best {
  margin-top: 10px;
}

.game-options button {
  font-family: "Aclonica", sans-serif;
  border: 2px solid darkgreen;
  background: linear-gradient(to top, rgb(128, 155, 125), rgb(253, 255, 253));
  width: 100px;
  height: 38px;
  margin-top: 31px;
  margin-bottom: 8px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 3px;
  font-weight: 700;
  color: darkgreen;
}

.levels {
  height: 27px;
  margin-top: 7px;
}

.levels button {
  font-family: "Aclonica", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 100px;
  color: rgb(102, 25, 25);
  font-weight: 700;
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
  text-shadow: 0 0 4px #f3ff87;
}

.levels button:hover {
  font-size: 21px;
  color: rgb(1, 31, 17);
}

.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 20px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hints-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.lives,
.mines-left,
.game-time {
  width: 95px;
  margin-left: 3px;
  margin-right: 10px;
}

.lives {
  width: 67px;
}

.smiley {
  width: 55px;
  margin-right: 20px;
  margin-left: 20px;
}

.hints,
.safe {
  font-size: 13px;
  padding: 3px;
  width: 113px;
  height: 42px;
  border: 2px solid rgba(102, 25, 25, 0.568);
  border-right: 1px solid wheat;
  border-bottom: 1px solid wheat;
  background-color: rgba(102, 25, 25, 0.144);
  cursor: pointer;
}

h3 {
  display: inline;
  margin: 10px;
  width: 150px;
  height: 47px;
  cursor: context-menu;
  font-size: 15px;
}

.msg {
  height: 19px;
  margin-top: 5px;
}

.table-container {
  margin-bottom: 8px;
}

table {
  margin: auto;
}

td {
  border: 2px solid rgba(102, 25, 25, 0.568);
  border-right: none;
  border-bottom: none;
  width: 27px;
  height: 26px;
  background-color: rgba(102, 25, 25, 0.39);
  cursor: pointer;
}

.count1 {
  color: red;
}
.count2 {
  color: blue;
}
.count3 {
  color: darkgreen;
}
.count4 {
  color: purple;
}
.count5 {
  color: orange;
}
.count6 {
  color: brown;
}
.count7 {
  color: darkcyan;
}
.count8 {
  color: darkolivegreen;
}

.covered {
  background-color: rgb(124, 58, 58);
  border: 2px solid rgb(65, 16, 16);
  border-right: none;
  border-bottom: none;
}

.footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  padding-top: 3px;
  background-color: rgba(55, 139, 49, 0.733);
  color: wheat;
  text-align: center;
}

.footer span {
  background-color: rgba(55, 139, 49);
  display: block;
  margin: auto;
  width: 139px;
  outline: 3px solid rgba(55, 139, 49);
}

.hidden {
  opacity: 0%;
}

@media (max-width: 414px) {
  body {
    border: none;
  }
  .best {
    margin-top: 10px;
  }
  .game-options button {
    font-size: 10px;
    width: 71px;
    height: 31px;
    margin-top: 25px;
    margin-bottom: 19px;
  }
  .levels {
    margin-left: 8px;
  }
  .game-info {
    display: block;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  .hints-container {
    margin-right: 0px;
    margin-top: 10px;
  }
  .lives,
  .mines-left,
  .game-time {
    display: block;
    font-size: 16px;
    width: 100px;
    height: 21px;
    margin-left: 5px;
    margin-right: 21px;
    margin-top: 10px;
  }
  .lives {
    margin-right: 4px;
  }
  .smiley {
    flex-wrap: wrap;
    display: block;
    width: 35px;
    margin: auto;
    margin-top: 20px;
  }
  .msg {
    margin-top: 121px;
  }
  .table-container {
    margin-top: 6px;
  }
}
